body {
  margin: 0;
}
h4 {
  font-family: 'helvetica neue' !important;
}
h3 {
  font-family: 'helvetica neue' !important;
  text-align: center;
  border-bottom: 1px solid lightgray !important;
}
body, p, h1, h2, a {
  font-family: 'helvetica neue'
}
a, a:visited {
  text-decoration: none !important;
}
p {
  margin: 0;
}

/*   NAVIGATION    */
.logo {
  height: 80px;
  line-height: 80px;
  padding: 10px 0 10px 0;
  font-size: 40px;
  font-weight: lighter;
  /*color: rgb(59, 109, 140);*/
}
.logo-img {
  height: 70px;
  float: left;
  /*margin-right: 10px;*/
  margin: 5px 10px 5px 0;
}
.navbar {
  height: 30px;
  /*border: 1px solid gray;*/
  background-color: rgb(59, 109, 140);
  line-height: 30px;
  margin-bottom: 20px;
}
.navbar ul {
  margin: 0;
  text-align: center;
  /*word-spacing: 15px;*/
}
.navbar li {
  display: inline;
  margin-right: 15px;
}
.navbar li a {
  color: white;
}
.navbar li a:active {
  color: red;
}


/* CONTENT */
.main-img {
  margin-bottom: 30px;
  width: 100%
}
.slides {
  display: none;
  margin-bottom: 40px;
}
.focus-img {
  width: 40px;
  float: left;
  margin-left: 10px;
}
.focus-title, .focus-title a {
  font-weight: bold;
  font-size: 20px;
  color: white
}
.focus {
  height: 60px;
  background-color: red;
  margin-bottom: 3px;
  color: white;
}
.focus p {
  padding: 8px;
  float: right;
  margin: 0;
}
#focus1 {
  background-color: rgb(115, 178, 217);
}
#focus2 {
  background-color: rgb(91, 158, 217);
}
#focus3 {
  height: 123px;
  background-color: blue;
  color: white;
  background-color: rgb(59, 109, 140);
}
#focus3 p {
  padding: 15px 8px 8px 8px;
  float: right;
  margin: 0;
  width: 223px;
}
.importants {
  height: 250px;
  margin-bottom: 30px;
}

.highlights {
  /*height: 70px;*/
  margin-bottom: 30px;
  background-color: lightgray;
  padding: 20px 0 20px 0;
}

.who {
  text-align: center;
  background-color: #417F44;
  color: white;
  /*border: 1px solid blue;*/
  padding-top: 20px;
  padding-bottom: 7px;
  /*width: 290px !important;*/
  font-family: 'helvetica neue'
}
#who {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: justify;
  margin-top: 20px;
  width: 250px;
  font-size: 16px;
}
#who-name {
  color: white;
  font-size: 25px;
}

.locations {
  background-color: rgb(91, 158, 217);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
#locals {
  font-size: 30px;
  text-align: center;
}

.sm {
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}

.footer {
  height: 50px;
  border-top: 1px solid lightgray;
  margin-top: 40px;
  text-align: center;
  line-height: 80px;
}
.footer ul {
  margin: 0;
  float: left;
  margin-left: 90px;
}
.footer li {
  display: inline;
  margin-right: 10px;
}
.highlight {
  width: 290px !important;
  text-align: center;
}
.locations p {
  width: 280px;
  margin: 0;
  color: white;
}
/*.locations a {
  color: white;
}*/
.bold-locals {
  font-weight: bolder;
  font-size: 18px;
}
.pdf {
  height: 50px;
  display: inline-block;
}
.pdf-text {
  display: inline-block;
  position: relative;
  bottom: 15px;
  margin-left: 10px;
}
.appa {
  float: right;
  height: 20px;
  margin-top: 30px;
}

.notables {
  width: 60px;
}

.bold {
  font-weight: bold;
}

.n {
  cursor: pointer;
}
